body {
  margin-bottom: 600px;
}
.one-cat {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.one-cat:hover {
  text-decoration: underline;
}

.cat__qty {
  font-size: 1rem;
  font-weight: normal;
}
